@use "~/abstracts" as *;
@use "rfs/scss" as rfs;

.navbar {
  // .navbar__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    align-items: center;
  }

  // .navbar__item

  &__item {
    transition: color 0.3s;

    @include rfs.font-size(1.35rem);

    @include hover-focus {
      color: $clr-accent-400;
    }

    &.active {
      color: $clr-cape-cod;
      font-weight: 700;
    }
  }
}
