@use "~/abstracts" as *;

.not-found {
  padding-block: 6.25rem;
  // .not-found__wrap

  &__wrap {
    display: grid;
    gap: 1.875rem;
    justify-items: center;
  }

  // .not-found__title

  &__block {
    text-align: center;
    max-inline-size: 25.875rem;
  }

  // .not-found__title

  &__title {
    color: $clr-black;
    font-family: "Core Sans C", sans-serif;
    font-size: 2.125rem;
    font-weight: 600;
  }

  // .not-found__desc

  &__desc {
    line-height: 1.25;
    letter-spacing: 0.02rem;

    * + & {
      margin-block-start: 0.625rem;
    }
  }

  // .not-found__button

  &__button {
    * + & {
      margin-block-start: 2.625rem;
    }
  }
}
