@use "~/abstracts" as *;

.search-header {
  // .search-header__input

  &__input {
    inline-size: 16.75rem;
    padding-inline: 1.25rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    background-color: $clr-wild-sand;
  }
}
