$clr-white: white;
$clr-wild-sand: #f6f6f6;
$clr-athens-gray: #edeef2;
$clr-pale-slate: #bebcbd;
$clr-gray: #807d7e;
$clr-cape-cod: #3c4242;
$clr-black: black;

$clr-accent-400: hsl(266, 98%, 60%);
$clr-accent-500: hsl(266, 72%, 44%);
