@use "~/abstracts" as *;
@use "rfs/scss" as *;

.desc-product {
  container-type: inline-size;

  @include rfs(2.375rem, padding-block);

  & > * + * {
    @include rfs(2.125rem, margin-block-start);
  }

  // .desc-product__title

  &__title {
    color: $clr-cape-cod;
    font-weight: 600;
    font-family: "Core Sans C", sans-serif;
    line-height: 1.4;
    letter-spacing: 0.0425rem;

    @include font-size(2.125rem);
  }

  // .desc-product__action

  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;

    @include container-width-from($bp-xs) {
      gap: 1.5rem;
    }
  }

  // .desc-product__price

  &__price {
    padding-inline: 3rem;
    padding-block: 0.75rem;
    border: 1px solid;
    border-radius: 0.5rem;
    color: $clr-cape-cod;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;

    @include media-width-to($bp-2xs) {
      inline-size: 100%;
    }
  }

  &__benefits {
  }
}
