@use "~/abstracts" as *;

.nav {
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: end;
}

.link {
  display: inline-flex;
  align-items: center;
  block-size: 2rem;
  padding-inline: 0.675rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  text-align: end;
  transition: background-color 0.2s;

  @include hover-focus {
    background-color: $clr-accent;
  }
}

.active {
  color: $clr-muted-foreground;
}
