$clr-white: white;
$clr-wild-sand: hsl(0deg 0% 96%);
$clr-athens-gray: hsl(228deg 16% 94%);
$clr-pale-slate: hsl(330deg 2% 74%);
$clr-gray: hsl(340deg 1% 50%);
$clr-cape-cod: hsl(180deg 5% 25%);
$clr-black: black;
$clr-accent-400: hsl(266deg 98% 60%);
$clr-accent-500: hsl(266deg 72% 44%);
