$padding: 0.75rem;
$container: 77.5rem;
$bp-3xs: 20em; // 320px
$bp-2xs: 23.4375em; // 375px
$bp-xs: 30em; // 480px
$bp-sm: 36em; // 576px
$bp-md: 48em; // 768px
$bp-lg: 62em; // 992px
$bp-xl: 75em; // 1200px
$bp-2xl: 87.5em; // 1400px
