@use "~/abstracts" as *;

.button {
  display: inline-flex;
  gap: 1ch;
  justify-content: center;
  align-items: center;
  min-inline-size: 15.625rem;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  color: $clr-black;
  font-size: 1.25rem;
  text-align: center;
  background-color: $clr-white;
  transition-property: background-color, color;
  transition-duration: 0.3s;

  @include hover-focus {
    color: $clr-white;
    background-color: $clr-accent-500;
  }

  @include media-width-to($bp-2xs) {
    inline-size: 100%;
    min-inline-size: unset;
  }

  &--accent {
    color: $clr-white;
    background-color: $clr-accent-400;
  }

  // &--size {
  //   &--lg {
  //   }
  // }
}
