@use "~/abstracts" as *;

.icon-button {
  display: grid;
  place-items: center;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: $clr-wild-sand;
  transition-property: background-color, color;
  transition-duration: 0.3s;

  @include media-width-from($bp-md) {
    padding: 0.75rem;
  }

  @include hover-focus {
    color: $clr-white;
    background-color: $clr-accent-400;
  }
}
