@use "~/abstracts" as *;

.spinner {
  inline-size: 6em;
  aspect-ratio: 1;
  border: 1.125rem solid $clr-accent-400;
  border-radius: 50%;
  border-block-end-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    rotate: 1turn;
  }
}
